node-red/data/flows.json
[
    {
        "id": "a3f29ed2e61d945b",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "18cde6ab13f29a2c",
        "type": "tab",
        "label": "API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fbe18a22f08badf1",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "090cd81984289984",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true
    },
    {
        "id": "bb1d6509be504798",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "fd2ca1fe22236cb5",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "090cd81984289984",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "bb1d6509be504798",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "abad05159d44bdd0",
        "type": "ui-group",
        "name": "AHRS2",
        "page": "fd2ca1fe22236cb5",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2f2ef0710be32fdd",
        "type": "ui-group",
        "name": "Battery",
        "page": "fd2ca1fe22236cb5",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5c8233a0133eb7b8",
        "type": "ui-group",
        "name": "Status",
        "page": "fd2ca1fe22236cb5",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e892cdafa0face65",
        "type": "mqtt in",
        "z": "a3f29ed2e61d945b",
        "name": "AHRS2",
        "topic": "iotdrone/AHRS2",
        "qos": "2",
        "datatype": "json",
        "broker": "fbe18a22f08badf1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 320,
        "wires": [
            [
                "12dca2890debaaa3"
            ]
        ]
    },
    {
        "id": "8f2a07a8d6caa617",
        "type": "mqtt in",
        "z": "a3f29ed2e61d945b",
        "name": "SYS_STATUS",
        "topic": "iotdrone/SYS_STATUS",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fbe18a22f08badf1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "2b0e558b06b3e180"
            ]
        ]
    },
    {
        "id": "e6b910d81ab2dd91",
        "type": "mqtt in",
        "z": "a3f29ed2e61d945b",
        "name": "HEARTBEAT",
        "topic": "iotdrone/HEARTBEAT",
        "qos": "2",
        "datatype": "json",
        "broker": "fbe18a22f08badf1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 820,
        "wires": [
            [
                "0999a3910531f7de"
            ]
        ]
    },
    {
        "id": "2b0e558b06b3e180",
        "type": "json",
        "z": "a3f29ed2e61d945b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "009b7e38581b90a1",
                "8b644dc1dac3a0ae"
            ]
        ]
    },
    {
        "id": "009b7e38581b90a1",
        "type": "function",
        "z": "a3f29ed2e61d945b",
        "name": "Battery remaining",
        "func": "\nreturn [{ \"payload\": msg.payload.battery_remaining }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 80,
        "wires": [
            [
                "f2a03f3ab5eaca22",
                "de9368968199d64f"
            ]
        ]
    },
    {
        "id": "f2a03f3ab5eaca22",
        "type": "debug",
        "z": "a3f29ed2e61d945b",
        "d": true,
        "name": "battery_remaining",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 40,
        "wires": []
    },
    {
        "id": "de9368968199d64f",
        "type": "ui-gauge",
        "z": "a3f29ed2e61d945b",
        "name": "Battery remaning",
        "group": "2f2ef0710be32fdd",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gauge-battery",
        "gstyle": "needle",
        "title": "Battery",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353"
            },
            {
                "from": "40",
                "color": "#ffc800"
            },
            {
                "from": "70",
                "color": "#5cd65c"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "8b644dc1dac3a0ae",
        "type": "function",
        "z": "a3f29ed2e61d945b",
        "name": "Battery voltage Volt",
        "func": "\nreturn [{ \"payload\": `${msg.payload.voltage_battery / 1000}V` }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 180,
        "wires": [
            [
                "e4ecfd4b81b68dfa"
            ]
        ]
    },
    {
        "id": "e4ecfd4b81b68dfa",
        "type": "ui-text",
        "z": "a3f29ed2e61d945b",
        "group": "2f2ef0710be32fdd",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Battery voltage",
        "label": "Voltage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "0999a3910531f7de",
        "type": "json",
        "z": "a3f29ed2e61d945b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 820,
        "wires": [
            [
                "16623fa7e283ef54",
                "bddc5379a16ccc56"
            ]
        ]
    },
    {
        "id": "12dca2890debaaa3",
        "type": "json",
        "z": "a3f29ed2e61d945b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "88850ebc6600c796",
                "f484c3d4cf101d40",
                "ec7c649c6107fd6b",
                "7de286714a07f238",
                "54adebd648546d65",
                "d31978386ee285cd"
            ]
        ]
    },
    {
        "id": "88850ebc6600c796",
        "type": "function",
        "z": "a3f29ed2e61d945b",
        "name": "roll",
        "func": "\nreturn [{ \"payload\": `${msg.payload.roll.toFixed(4)}` }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 300,
        "wires": [
            [
                "803c2d176dac413b",
                "ea36156bf1d16ec9"
            ]
        ]
    },
    {
        "id": "f484c3d4cf101d40",
        "type": "function",
        "z": "a3f29ed2e61d945b",
        "name": "pitch",
        "func": "\nreturn [{ \"payload\": `${msg.payload.pitch.toFixed(4) }` }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 420,
        "wires": [
            [
                "93d28f94b0a51473",
                "52428032261a2859"
            ]
        ]
    },
    {
        "id": "ec7c649c6107fd6b",
        "type": "function",
        "z": "a3f29ed2e61d945b",
        "name": "yaw",
        "func": "\nreturn [{ \"payload\": `${msg.payload.yaw.toFixed(4)}` }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 520,
        "wires": [
            [
                "efd408c7fac38cda",
                "38e353616ee0d1f3"
            ]
        ]
    },
    {
        "id": "7de286714a07f238",
        "type": "function",
        "z": "a3f29ed2e61d945b",
        "name": "altitude",
        "func": "\nreturn [{ \"payload\": `${msg.payload.altitude.toFixed(2)}` }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 560,
        "wires": [
            [
                "3a14f75912e8eb5c"
            ]
        ]
    },
    {
        "id": "54adebd648546d65",
        "type": "function",
        "z": "a3f29ed2e61d945b",
        "name": "lat",
        "func": "\nreturn [{ \"payload\": `${(msg.payload.lat / 10_000_000).toFixed(2)}` }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 600,
        "wires": [
            [
                "95ac7753b12db1e6"
            ]
        ]
    },
    {
        "id": "d31978386ee285cd",
        "type": "function",
        "z": "a3f29ed2e61d945b",
        "name": "long",
        "func": "\nreturn [{ \"payload\": `${(msg.payload.lng / 10_000_000).toFixed(2)}` }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 640,
        "wires": [
            [
                "20ec1ce65c7b3809"
            ]
        ]
    },
    {
        "id": "803c2d176dac413b",
        "type": "ui-text",
        "z": "a3f29ed2e61d945b",
        "d": true,
        "group": "abad05159d44bdd0",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Roll",
        "label": "Roll",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "93d28f94b0a51473",
        "type": "ui-text",
        "z": "a3f29ed2e61d945b",
        "d": true,
        "group": "abad05159d44bdd0",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Pitch",
        "label": "Pitch",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 730,
        "y": 420,
        "wires": []
    },
    {
        "id": "efd408c7fac38cda",
        "type": "ui-text",
        "z": "a3f29ed2e61d945b",
        "d": true,
        "group": "abad05159d44bdd0",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Yaw",
        "label": "Yaw",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 730,
        "y": 520,
        "wires": []
    },
    {
        "id": "3a14f75912e8eb5c",
        "type": "ui-text",
        "z": "a3f29ed2e61d945b",
        "group": "abad05159d44bdd0",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Altitude",
        "label": "Altitude",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 740,
        "y": 560,
        "wires": []
    },
    {
        "id": "95ac7753b12db1e6",
        "type": "ui-text",
        "z": "a3f29ed2e61d945b",
        "group": "abad05159d44bdd0",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Lat",
        "label": "Lat",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 730,
        "y": 600,
        "wires": []
    },
    {
        "id": "20ec1ce65c7b3809",
        "type": "ui-text",
        "z": "a3f29ed2e61d945b",
        "group": "abad05159d44bdd0",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Long",
        "label": "Long",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 730,
        "y": 640,
        "wires": []
    },
    {
        "id": "ea36156bf1d16ec9",
        "type": "ui-gauge",
        "z": "a3f29ed2e61d945b",
        "name": "Roll_Gauge",
        "group": "abad05159d44bdd0",
        "order": 1,
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Roll",
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-3.15",
                "color": "#ea5353"
            },
            {
                "from": "-2",
                "color": "#ff8000"
            },
            {
                "from": "-1",
                "color": "#00ff00"
            },
            {
                "from": "1",
                "color": "#ff8000"
            },
            {
                "from": "2",
                "color": "#ff0000"
            }
        ],
        "min": "-3.15",
        "max": "3.15",
        "sizeThickness": "0",
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "38e353616ee0d1f3",
        "type": "ui-gauge",
        "z": "a3f29ed2e61d945b",
        "name": "Yaw_Gauge",
        "group": "abad05159d44bdd0",
        "order": 2,
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Yaw",
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-3.15",
                "color": "#ea5353"
            },
            {
                "from": "-2",
                "color": "#ff8000"
            },
            {
                "from": "-1",
                "color": "#00ff00"
            },
            {
                "from": "1",
                "color": "#ff8000"
            },
            {
                "from": "2",
                "color": "#ff0000"
            }
        ],
        "min": "-3.15",
        "max": "3.15",
        "sizeThickness": "0",
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "52428032261a2859",
        "type": "ui-gauge",
        "z": "a3f29ed2e61d945b",
        "name": "Pitch_Gauge",
        "group": "abad05159d44bdd0",
        "order": 3,
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Pitch",
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-1.6",
                "color": "#ea5353"
            },
            {
                "from": "-0.8",
                "color": "#ff8000"
            },
            {
                "from": "-0.5",
                "color": "#00ff00"
            },
            {
                "from": "0.5",
                "color": "#ff8000"
            },
            {
                "from": "1",
                "color": "#ff0000"
            }
        ],
        "min": "-1.6",
        "max": "1.6",
        "sizeThickness": "0",
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 750,
        "y": 360,
        "wires": []
    },
    {
        "id": "16623fa7e283ef54",
        "type": "function",
        "z": "a3f29ed2e61d945b",
        "name": "base_mode",
        "func": "const base_mode = msg.payload.base_mode;\nconst payload = base_mode & 0b10000000 ? \"yes\" : \"no\";\n\n\nreturn [{ payload }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 760,
        "wires": [
            [
                "6646b65dee379df8"
            ]
        ]
    },
    {
        "id": "bddc5379a16ccc56",
        "type": "function",
        "z": "a3f29ed2e61d945b",
        "name": "custom_mode",
        "func": "\nreturn [{ \"payload\": msg.payload.custom_mode }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 880,
        "wires": [
            [
                "38ede08fe8ff4ad1"
            ]
        ]
    },
    {
        "id": "6646b65dee379df8",
        "type": "ui-text",
        "z": "a3f29ed2e61d945b",
        "group": "5c8233a0133eb7b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "armed",
        "label": "Armed",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 770,
        "y": 760,
        "wires": []
    },
    {
        "id": "d135d67205a7d878",
        "type": "ui-text",
        "z": "a3f29ed2e61d945b",
        "group": "5c8233a0133eb7b8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Custom mode",
        "label": "Current mode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 1100,
        "y": 1020,
        "wires": []
    },
    {
        "id": "38ede08fe8ff4ad1",
        "type": "rbe",
        "z": "a3f29ed2e61d945b",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 750,
        "y": 880,
        "wires": [
            [
                "e5727495dc4eef7f"
            ]
        ]
    },
    {
        "id": "e5727495dc4eef7f",
        "type": "http request",
        "z": "a3f29ed2e61d945b",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "127.0.0.1:5000/mode/{{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 880,
        "wires": [
            [
                "409c5fb59330efbf"
            ]
        ]
    },
    {
        "id": "409c5fb59330efbf",
        "type": "function",
        "z": "a3f29ed2e61d945b",
        "name": "function 1",
        "func": "// Extract the mode_name value and set it as the new payload\nmsg.payload = msg.payload.mode_name;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 1020,
        "wires": [
            [
                "d135d67205a7d878"
            ]
        ]
    },
    {
        "id": "2915fba8d66d7480",
        "type": "debug",
        "z": "18cde6ab13f29a2c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 40,
        "wires": []
    },
    {
        "id": "4e60411c6ce19d78",
        "type": "ui-button",
        "z": "18cde6ab13f29a2c",
        "group": "5c8233a0133eb7b8",
        "name": "",
        "label": "button",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "e3f5707eef5b2cf2"
            ]
        ]
    },
    {
        "id": "e3f5707eef5b2cf2",
        "type": "http request",
        "z": "18cde6ab13f29a2c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "127.0.0.1:5000/modes",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 40,
        "wires": [
            [
                "2915fba8d66d7480"
            ]
        ]
    }
]