node-red/data/flows.json
[
    {
        "id": "a3f29ed2e61d945b",
        "type": "tab",
        "label": "SYS_STATUS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "954f8f10968a3597",
        "type": "tab",
        "label": "AHRS2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e359f69c6c85966b",
        "type": "tab",
        "label": "HEARTBEAT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fbe18a22f08badf1",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "090cd81984289984",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true
    },
    {
        "id": "bb1d6509be504798",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "fd2ca1fe22236cb5",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "090cd81984289984",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "bb1d6509be504798",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "abad05159d44bdd0",
        "type": "ui-group",
        "name": "AHRS2",
        "page": "fd2ca1fe22236cb5",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2f2ef0710be32fdd",
        "type": "ui-group",
        "name": "Battery",
        "page": "fd2ca1fe22236cb5",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5c8233a0133eb7b8",
        "type": "ui-group",
        "name": "Status",
        "page": "fd2ca1fe22236cb5",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8f2a07a8d6caa617",
        "type": "mqtt in",
        "z": "a3f29ed2e61d945b",
        "name": "SYS_STATUS",
        "topic": "iotdrone/SYS_STATUS",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fbe18a22f08badf1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "2b0e558b06b3e180"
            ]
        ]
    },
    {
        "id": "2b0e558b06b3e180",
        "type": "json",
        "z": "a3f29ed2e61d945b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "009b7e38581b90a1",
                "8b644dc1dac3a0ae"
            ]
        ]
    },
    {
        "id": "009b7e38581b90a1",
        "type": "function",
        "z": "a3f29ed2e61d945b",
        "name": "Battery remaining",
        "func": "\nreturn [{ \"payload\": msg.payload.battery_remaining }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 80,
        "wires": [
            [
                "f2a03f3ab5eaca22",
                "de9368968199d64f"
            ]
        ]
    },
    {
        "id": "f2a03f3ab5eaca22",
        "type": "debug",
        "z": "a3f29ed2e61d945b",
        "d": true,
        "name": "battery_remaining",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 40,
        "wires": []
    },
    {
        "id": "de9368968199d64f",
        "type": "ui-gauge",
        "z": "a3f29ed2e61d945b",
        "name": "Battery remaning",
        "group": "2f2ef0710be32fdd",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gauge-battery",
        "gstyle": "needle",
        "title": "Battery",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353"
            },
            {
                "from": "40",
                "color": "#ffc800"
            },
            {
                "from": "70",
                "color": "#5cd65c"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "8b644dc1dac3a0ae",
        "type": "function",
        "z": "a3f29ed2e61d945b",
        "name": "Battery voltage Volt",
        "func": "\nreturn [{ \"payload\": `${msg.payload.voltage_battery / 1000}V` }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 180,
        "wires": [
            [
                "e4ecfd4b81b68dfa"
            ]
        ]
    },
    {
        "id": "e4ecfd4b81b68dfa",
        "type": "ui-text",
        "z": "a3f29ed2e61d945b",
        "group": "2f2ef0710be32fdd",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Battery voltage",
        "label": "Voltage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "e892cdafa0face65",
        "type": "mqtt in",
        "z": "954f8f10968a3597",
        "name": "AHRS2",
        "topic": "iotdrone/AHRS2",
        "qos": "2",
        "datatype": "json",
        "broker": "fbe18a22f08badf1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 60,
        "wires": [
            [
                "12dca2890debaaa3"
            ]
        ]
    },
    {
        "id": "12dca2890debaaa3",
        "type": "json",
        "z": "954f8f10968a3597",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "88850ebc6600c796",
                "f484c3d4cf101d40",
                "ec7c649c6107fd6b",
                "7de286714a07f238",
                "54adebd648546d65",
                "d31978386ee285cd"
            ]
        ]
    },
    {
        "id": "88850ebc6600c796",
        "type": "function",
        "z": "954f8f10968a3597",
        "name": "roll",
        "func": "\nreturn [{ \"payload\": `${msg.payload.roll.toFixed(4)}` }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 40,
        "wires": [
            [
                "803c2d176dac413b",
                "ea36156bf1d16ec9"
            ]
        ]
    },
    {
        "id": "f484c3d4cf101d40",
        "type": "function",
        "z": "954f8f10968a3597",
        "name": "pitch",
        "func": "\nreturn [{ \"payload\": `${msg.payload.pitch.toFixed(4) }` }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 160,
        "wires": [
            [
                "93d28f94b0a51473",
                "52428032261a2859"
            ]
        ]
    },
    {
        "id": "ec7c649c6107fd6b",
        "type": "function",
        "z": "954f8f10968a3597",
        "name": "yaw",
        "func": "\nreturn [{ \"payload\": `${msg.payload.yaw.toFixed(4)}` }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 260,
        "wires": [
            [
                "efd408c7fac38cda",
                "38e353616ee0d1f3"
            ]
        ]
    },
    {
        "id": "7de286714a07f238",
        "type": "function",
        "z": "954f8f10968a3597",
        "name": "altitude",
        "func": "\nreturn [{ \"payload\": `${msg.payload.altitude.toFixed(2)}` }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 420,
        "wires": [
            [
                "3a14f75912e8eb5c"
            ]
        ]
    },
    {
        "id": "54adebd648546d65",
        "type": "function",
        "z": "954f8f10968a3597",
        "name": "lat",
        "func": "\nreturn [{ \"payload\": `${(msg.payload.lat / 10_000_000).toFixed(2)}` }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 340,
        "wires": [
            [
                "95ac7753b12db1e6"
            ]
        ]
    },
    {
        "id": "d31978386ee285cd",
        "type": "function",
        "z": "954f8f10968a3597",
        "name": "long",
        "func": "\nreturn [{ \"payload\": `${(msg.payload.lng / 10_000_000).toFixed(2)}` }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 380,
        "wires": [
            [
                "20ec1ce65c7b3809"
            ]
        ]
    },
    {
        "id": "803c2d176dac413b",
        "type": "ui-text",
        "z": "954f8f10968a3597",
        "d": true,
        "group": "abad05159d44bdd0",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Roll",
        "label": "Roll",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "93d28f94b0a51473",
        "type": "ui-text",
        "z": "954f8f10968a3597",
        "d": true,
        "group": "abad05159d44bdd0",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Pitch",
        "label": "Pitch",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "efd408c7fac38cda",
        "type": "ui-text",
        "z": "954f8f10968a3597",
        "d": true,
        "group": "abad05159d44bdd0",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Yaw",
        "label": "Yaw",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "3a14f75912e8eb5c",
        "type": "ui-text",
        "z": "954f8f10968a3597",
        "group": "abad05159d44bdd0",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Altitude",
        "label": "Altitude",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 720,
        "y": 420,
        "wires": []
    },
    {
        "id": "95ac7753b12db1e6",
        "type": "ui-text",
        "z": "954f8f10968a3597",
        "group": "abad05159d44bdd0",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Lat",
        "label": "Lat",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 710,
        "y": 340,
        "wires": []
    },
    {
        "id": "20ec1ce65c7b3809",
        "type": "ui-text",
        "z": "954f8f10968a3597",
        "group": "abad05159d44bdd0",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Long",
        "label": "Long",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 710,
        "y": 380,
        "wires": []
    },
    {
        "id": "ea36156bf1d16ec9",
        "type": "ui-gauge",
        "z": "954f8f10968a3597",
        "name": "Roll_Gauge",
        "group": "abad05159d44bdd0",
        "order": 1,
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Roll",
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-3.15",
                "color": "#ea5353"
            },
            {
                "from": "-2",
                "color": "#ff8000"
            },
            {
                "from": "-1",
                "color": "#00ff00"
            },
            {
                "from": "1",
                "color": "#ff8000"
            },
            {
                "from": "2",
                "color": "#ff0000"
            }
        ],
        "min": "-3.15",
        "max": "3.15",
        "sizeThickness": "0",
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 730,
        "y": 20,
        "wires": []
    },
    {
        "id": "38e353616ee0d1f3",
        "type": "ui-gauge",
        "z": "954f8f10968a3597",
        "name": "Yaw_Gauge",
        "group": "abad05159d44bdd0",
        "order": 2,
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Yaw",
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-3.15",
                "color": "#ea5353"
            },
            {
                "from": "-2",
                "color": "#ff8000"
            },
            {
                "from": "-1",
                "color": "#00ff00"
            },
            {
                "from": "1",
                "color": "#ff8000"
            },
            {
                "from": "2",
                "color": "#ff0000"
            }
        ],
        "min": "-3.15",
        "max": "3.15",
        "sizeThickness": "0",
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "52428032261a2859",
        "type": "ui-gauge",
        "z": "954f8f10968a3597",
        "name": "Pitch_Gauge",
        "group": "abad05159d44bdd0",
        "order": 3,
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Pitch",
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-1.6",
                "color": "#ea5353"
            },
            {
                "from": "-0.8",
                "color": "#ff8000"
            },
            {
                "from": "-0.5",
                "color": "#00ff00"
            },
            {
                "from": "0.5",
                "color": "#ff8000"
            },
            {
                "from": "1",
                "color": "#ff0000"
            }
        ],
        "min": "-1.6",
        "max": "1.6",
        "sizeThickness": "0",
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "f654c8a970d34eb1",
        "type": "mqtt in",
        "z": "954f8f10968a3597",
        "name": "AHRS2",
        "topic": "iotdrone/GLOBAL_POSITION_INT",
        "qos": "2",
        "datatype": "json",
        "broker": "fbe18a22f08badf1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 460,
        "wires": [
            [
                "27518ef8e3456921"
            ]
        ]
    },
    {
        "id": "27518ef8e3456921",
        "type": "json",
        "z": "954f8f10968a3597",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 500,
        "wires": [
            [
                "3943f4f2f5d85e83"
            ]
        ]
    },
    {
        "id": "3943f4f2f5d85e83",
        "type": "function",
        "z": "954f8f10968a3597",
        "name": "relative altitude",
        "func": "\nreturn [{ \"payload\": `${(msg.payload.relative_alt/1000).toFixed(2)}` }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 500,
        "wires": [
            [
                "68aa692e0908c6dc"
            ]
        ]
    },
    {
        "id": "68aa692e0908c6dc",
        "type": "ui-text",
        "z": "954f8f10968a3597",
        "group": "abad05159d44bdd0",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "Relative Altitude",
        "label": "Relative altitude",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 760,
        "y": 500,
        "wires": []
    },
    {
        "id": "e6b910d81ab2dd91",
        "type": "mqtt in",
        "z": "e359f69c6c85966b",
        "name": "HEARTBEAT",
        "topic": "iotdrone/HEARTBEAT",
        "qos": "2",
        "datatype": "json",
        "broker": "fbe18a22f08badf1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "0999a3910531f7de"
            ]
        ]
    },
    {
        "id": "0999a3910531f7de",
        "type": "json",
        "z": "e359f69c6c85966b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "16623fa7e283ef54",
                "bddc5379a16ccc56"
            ]
        ]
    },
    {
        "id": "16623fa7e283ef54",
        "type": "function",
        "z": "e359f69c6c85966b",
        "name": "base_mode",
        "func": "const base_mode = msg.payload.base_mode;\nconst payload = base_mode & 0b10000000 ? \"yes\" : \"no\";\n\n\nreturn [{ payload }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 40,
        "wires": [
            [
                "6646b65dee379df8"
            ]
        ]
    },
    {
        "id": "bddc5379a16ccc56",
        "type": "function",
        "z": "e359f69c6c85966b",
        "name": "custom_mode",
        "func": "\nreturn [{ \"payload\": msg.payload.custom_mode }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 160,
        "wires": [
            [
                "38ede08fe8ff4ad1"
            ]
        ]
    },
    {
        "id": "6646b65dee379df8",
        "type": "ui-text",
        "z": "e359f69c6c85966b",
        "group": "5c8233a0133eb7b8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "armed",
        "label": "Armed",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 790,
        "y": 40,
        "wires": []
    },
    {
        "id": "d135d67205a7d878",
        "type": "ui-text",
        "z": "e359f69c6c85966b",
        "group": "5c8233a0133eb7b8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Custom mode",
        "label": "Current mode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 1120,
        "y": 300,
        "wires": []
    },
    {
        "id": "38ede08fe8ff4ad1",
        "type": "rbe",
        "z": "e359f69c6c85966b",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 770,
        "y": 160,
        "wires": [
            [
                "e5727495dc4eef7f"
            ]
        ]
    },
    {
        "id": "e5727495dc4eef7f",
        "type": "http request",
        "z": "e359f69c6c85966b",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "127.0.0.1:5000/mode/{{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 160,
        "wires": [
            [
                "409c5fb59330efbf",
                "178b312b36b52234"
            ]
        ]
    },
    {
        "id": "409c5fb59330efbf",
        "type": "function",
        "z": "e359f69c6c85966b",
        "name": "function 1",
        "func": "// Extract the mode_name value and set it as the new payload\nmsg.payload = msg.payload.mode_name;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 120,
        "wires": [
            [
                "d135d67205a7d878"
            ]
        ]
    },
    {
        "id": "fa78027074b39269",
        "type": "inject",
        "z": "e359f69c6c85966b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "7608bcc9c8d2f182"
            ]
        ]
    },
    {
        "id": "7608bcc9c8d2f182",
        "type": "http request",
        "z": "e359f69c6c85966b",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "localhost:5000/modes",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 440,
        "wires": [
            [
                "2f8069ba949ca8a6",
                "78f54150ed509b6e"
            ]
        ]
    },
    {
        "id": "9d02e31384d8b911",
        "type": "debug",
        "z": "e359f69c6c85966b",
        "d": true,
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 500,
        "wires": []
    },
    {
        "id": "ada30991fa51525c",
        "type": "ui-dropdown",
        "z": "e359f69c6c85966b",
        "group": "5c8233a0133eb7b8",
        "name": "Status select",
        "label": "Select mode:",
        "tooltip": "",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": false,
        "msgTrigger": "onChange",
        "x": 990,
        "y": 440,
        "wires": [
            [
                "e89874cc6a3b2f67",
                "aa44f3150ea514aa",
                "fe5e22ad06ea8e20"
            ]
        ]
    },
    {
        "id": "2f8069ba949ca8a6",
        "type": "function",
        "z": "e359f69c6c85966b",
        "name": "function 2",
        "func": "// Assuming msg.payload contains the dictionary\nconst receivedDict = msg.payload; // e.g., { \"Option1\": 1, \"Option2\": 2, \"Option3\": 3 }\n\n// Convert the dictionary into an array of { label, value } objects\nmsg.options = Object.entries(receivedDict).map(([key, value]) => ({\n    label: key,   // Use the dictionary key as the label\n    value: value  // Use the dictionary value as the value\n}));\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 440,
        "wires": [
            [
                "9d02e31384d8b911",
                "ada30991fa51525c"
            ]
        ]
    },
    {
        "id": "78f54150ed509b6e",
        "type": "debug",
        "z": "e359f69c6c85966b",
        "d": true,
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 500,
        "wires": []
    },
    {
        "id": "261ac62187660253",
        "type": "debug",
        "z": "e359f69c6c85966b",
        "d": true,
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 360,
        "wires": []
    },
    {
        "id": "178b312b36b52234",
        "type": "function",
        "z": "e359f69c6c85966b",
        "name": "function 3",
        "func": "msg.payload = msg.payload.mode_id;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 380,
        "wires": [
            [
                "261ac62187660253",
                "ada30991fa51525c"
            ]
        ]
    },
    {
        "id": "2915fba8d66d7480",
        "type": "debug",
        "z": "e359f69c6c85966b",
        "d": true,
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 720,
        "wires": []
    },
    {
        "id": "e3f5707eef5b2cf2",
        "type": "http request",
        "z": "e359f69c6c85966b",
        "name": "set mode",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "127.0.0.1:5000/mode",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 520,
        "y": 720,
        "wires": [
            [
                "2915fba8d66d7480"
            ]
        ]
    },
    {
        "id": "e89874cc6a3b2f67",
        "type": "function",
        "z": "e359f69c6c85966b",
        "name": "function 4",
        "func": "msg.payload = { \"mode_id\": msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 620,
        "wires": [
            [
                "e3f5707eef5b2cf2",
                "9ad2da1aea68b53c"
            ]
        ]
    },
    {
        "id": "aa44f3150ea514aa",
        "type": "debug",
        "z": "e359f69c6c85966b",
        "d": true,
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 400,
        "wires": []
    },
    {
        "id": "9ad2da1aea68b53c",
        "type": "debug",
        "z": "e359f69c6c85966b",
        "d": true,
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 620,
        "wires": []
    },
    {
        "id": "59a8f74b8ad4ab08",
        "type": "mqtt in",
        "z": "e359f69c6c85966b",
        "name": "",
        "topic": "iotdrone/STATUSTEXT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fbe18a22f08badf1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 800,
        "wires": [
            [
                "a60c2079a121afd1"
            ]
        ]
    },
    {
        "id": "a60c2079a121afd1",
        "type": "change",
        "z": "e359f69c6c85966b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 800,
        "wires": [
            [
                "b3b00e89612ca801"
            ]
        ]
    },
    {
        "id": "b3b00e89612ca801",
        "type": "ui-text",
        "z": "e359f69c6c85966b",
        "group": "5c8233a0133eb7b8",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Status text",
        "label": "Status text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 1130,
        "y": 800,
        "wires": []
    },
    {
        "id": "fe5e22ad06ea8e20",
        "type": "function",
        "z": "e359f69c6c85966b",
        "name": "clear",
        "func": "msg.payload = null;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 640,
        "wires": [
            [
                "b3b00e89612ca801"
            ]
        ]
    },
    {
        "id": "b4ff085cb7ec2527",
        "type": "ui-button",
        "z": "e359f69c6c85966b",
        "group": "5c8233a0133eb7b8",
        "name": "Takeoff",
        "label": "Takeoff",
        "order": 1,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 100,
        "y": 900,
        "wires": [
            [
                "b296607555fd09b9"
            ]
        ]
    },
    {
        "id": "61e7d83f34123fbb",
        "type": "http request",
        "z": "e359f69c6c85966b",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "localhost:5000/command",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "b296607555fd09b9",
        "type": "change",
        "z": "e359f69c6c85966b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"takeoff\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 900,
        "wires": [
            [
                "61e7d83f34123fbb"
            ]
        ]
    },
    {
        "id": "252871857fc6a9bd",
        "type": "ui-button",
        "z": "e359f69c6c85966b",
        "group": "5c8233a0133eb7b8",
        "name": "Arm",
        "label": "Arm",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 960,
        "wires": [
            [
                "0502dc5cc41c250d"
            ]
        ]
    },
    {
        "id": "e0526cf8c84e2de2",
        "type": "http request",
        "z": "e359f69c6c85966b",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "localhost:5000/command",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "0502dc5cc41c250d",
        "type": "change",
        "z": "e359f69c6c85966b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"arm\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 960,
        "wires": [
            [
                "e0526cf8c84e2de2"
            ]
        ]
    },
    {
        "id": "37a352e6a5da747e",
        "type": "ui-button",
        "z": "e359f69c6c85966b",
        "group": "5c8233a0133eb7b8",
        "name": "Disarm",
        "label": "Disarm",
        "order": 3,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 100,
        "y": 1020,
        "wires": [
            [
                "b82e41794f61dac7"
            ]
        ]
    },
    {
        "id": "7032743ff64499a8",
        "type": "http request",
        "z": "e359f69c6c85966b",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "localhost:5000/command",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "b82e41794f61dac7",
        "type": "change",
        "z": "e359f69c6c85966b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"disarm\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 1020,
        "wires": [
            [
                "7032743ff64499a8"
            ]
        ]
    }
]